<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
        Произведен вход в аккаунт {{ user.username }}<br>
        <form action="{% url 'logoutuser' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Выход</button>
        </form>
    {% else %}
        <a href="{% url 'signupuser' %}">Регистрация</a><br>
        <a href="{% url 'loginuser' %}">Вход</a>
    {% endif %}
    <br><br>
    {% block content %}{% endblock %}
</body>
</html>